/* --- import webfonts ---*/



/* --- typography / general */

h1 {
  font: bold 5em/1.1 "Arial Narrow", sans-serif;
  text-transform: uppercase;
  letter-spacing: .1em;
  margin-top: 0;
  margin-bottom: .3em;
  }

p {
  font: 1em/1.4 Arial, sans-serif;
  }
