/* --- import webfonts ---*/

/* Bebas / regular */

@font-face {
  font-family: "Bebas";
  src: url("../fonts/bebas-webfont.woff2") format("woff2"),
       url("../fonts/bebas-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  }

/* --- typography / general */

h1 {
  font: normal 5em/1.1 "Bebas", "Arial Narrow", sans-serif;
  text-transform: uppercase;
  letter-spacing: .1em;
  margin-top: 0;
  margin-bottom: .3em;
  }

p {
  font: 1em/1.4 Arial, sans-serif;
  }
